/*-- scss:defaults --*/

$body-bg: #fff !default;
$body-color: #1E1E1E !default;
$link-color: #FF9300 !default;
$font-family-sans-serif: "Source Sans Pro", arial, "helvetica neue", helvetica, sans-serif !default;
$mermaid-font-family: arial;
/*-- scss:rules --*/